<div class="container-fluid">
	<div class="row">
		<div class="col-sm-4" style="background-color:lavender;">
			<div class="listings">
              <div class="listings_channels">
              	<h2 class="listnges_header">ジャンル検索</h2>
              	<ul class="channel_list">
              		<li>ケーキ</li>
              		<li>プリン</li>
              		<li>焼き菓子</li>
              		<li>キャンディ</li>
              	</ul>
              </div>
            </div>
		</div>
		<div class="col-sm-8" style="background-color:lavenderblush;">
			<p>ようこそ、ながのCAKEへ！</p>
			<p>このサイトは、ケーキ販売のECサイトになります。</p>
			<p>会員でない方も商品の閲覧はできますが</p>
			<p>購入には会員登録が必要になります。</p>
			<h2>新着商品</h2>
			<%= image_tag 'ショートケーキ.jpg' %>
			<p>ショートケーキ</p>
			<p>¥500</p>
			<%= image_tag 'チョコ.jpeg' %>
			<p>チョコケーキ</p>
			<p>¥600</p>
			<%= image_tag '抹茶.jpeg' %>
			<p>抹茶ケーキ</p>
　　　　　　　<p>¥700</p>
            <p>全ての商品を見る ＞ </p>
		</div>
	</div>
</div>

<!-- bootstarpのスパンで画面作成 -->
